@model IEnumerable<MailingList>

@{
    ViewBag.Title = "Mailing Lists";
}

<h1>Mailing lists</h1>

<p>
    @Html.ActionLink("Create new list", "Create", null, new { @class="btn btn-primary" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromEmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.ListName })"><span class="glyphicon glyphicon-pencil"></span></a> |
                    <a href="@Url.Action("Delete", new { id = item.ListName })"><span class="glyphicon glyphicon-list-alt"></span></a> |
                    <a href="@Url.Action("Delete", new { id = item.ListName })"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
