@model IEnumerable<MailingList>

@{
    ViewBag.Title = "Mailing Lists";
}

<h2>Mailing lists</h2>

<p>
    @Html.ActionLink("Create new list", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromEmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ListName }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ListName }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ListName })
                </td>
            </tr>
        }
    </tbody>
</table>
